.btns {
  position: relative;
  margin: 15px 0;
  display: flex;
  gap: 10px;
}
#done,
#active,
#reset {
  display: flex;
  align-items: center;
  height: 45px;
  padding-left: 15px;
  gap: 10px;
  background-color: var(--color1);
  color: var(--color5);
  border-radius: 10px;
  outline: none;
  border: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}
#done {
  width: 125px;
}

#active {
  width: 160px;
}
.btns button svg {
  padding-bottom: 2px;
}

@media (hover: hover) and (pointer: fine) {
  .btns button:hover {
    filter: brightness(85%);
  }
}
.btns button:active {
  scale: 0.95;
}

#reset {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: -55px;
  height: 45px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: unset;
}

#reset.visible {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 615px) {
  .btns {
    margin: 2.5vw 0;
    gap: 1.7vw;
  }
  .btns button svg {
    width: 3.3vw;
    height: 3.3vw;
  }
  #reset svg {
    width: 4.1vw;
    height: 4.1vw;
  }
  #done,
  #active,
  #reset {
    height: 7.4vw;
    border-radius: 1.7vw;
    gap: 1.7vw;
  }

  #done,
  #active {
    font-size: 2.1vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }
  #done {
    width: 19vw;
  }

  #active {
    width: 28vw;
  }
  #reset {
    right: -9vw;
  }
}
