:root {
  --width: 450px;
}
.peach-theme {
  --color1: #6e3f3f;
  --color2: #f08080;
  --color3: #b85d5d;
  --color4: #fbc4ab;
  --color5: #ffdab9;
}
.purple-theme {
  --color1: #392851;
  --color2: #996fd6;
  --color3: #a786db;
  --color4: #c2b3e5;
  --color5: #d0c9ea;
}
.green-theme {
  --color1: #114b5f;
  --color2: #1a936f;
  --color3: #88d498;
  --color4: #f3e9d2;
  --color5: #fcf4e3;
}
.blue-theme {
  --color1: #012a4a;
  --color2: #014f86;
  --color3: #61a5c2;
  --color4: #a9d6e5;
  --color5: #cdecf6;
}
.pink-theme {
  --color1: #9d3858;
  --color2: #ff87ab;
  --color3: #ffa6c1;
  --color4: #ffc4d6;
  --color5: #fadde1;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  transition: background-color 0.3s;
}

html {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.wrapper {
  color: var(--color5);
  background-color: var(--color2);
  background-image: radial-gradient(var(--color1) 1px, var(--color2) 1px);
  background-size: 15px 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 40px 25px 40px;
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 15px;
}

#copyright {
  margin-top: auto;
  text-align: center;
  background-color: var(--color2);
  transition: unset;
  font-size: 1.5rem;
  font-weight: 600;
}
#copyright a {
  text-decoration: none;
  color: var(--color1);
}

@media (hover: hover) and (pointer: fine) {
  #copyright a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 60px 40px 25px 40px;
  }
}

@media (max-width: 615px) {
  :root {
    --width: 85%;
  }
  .wrapper {
    padding: 8.2vw 6.6vw 4.1vw 6.6vw;
  }
  h1 {
    font-size: 6vw;
    margin-bottom: 2.5vw;
  }
}
